:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
  }

#description{
    font-size: 30px;
    color:#21CF31;
}


body{
    font-style: normal;
    background-image:linear-gradient(to right,#B5BE27,pink) url("pics/eco-frens.jpeg"); 
    height: 100%;
    width: 100%;
    margin: 0px;
}

.pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 50%;
    margin-top: -5%;    
}
img {
    width: 100%;
}

.navbar {
    list-style-type: none;
    display: flex;
    padding: 35px;
    padding-top: 40px;
    margin-left: -40px;
    justify-content: space-between;
    background-color: rgb(158, 157, 168);
    box-shadow: 2px 3px 5px hsl(219, 61%, 76%);
}

#logo {
    display:block;
    font-size:60px;
    text-align:center;
    margin:4rem;
}
#nfts {
width: 50%;
margin-left: 25%;
margin-top: -80%;
}

#roadmap {
    width: 20%;
    position: relative;
    margin-left: 40%;
    margin-top: -20%

}

.faq {
    background-color: #f8ff9a;
    position:inherit;
    width: 70%;
    padding-left: 30%;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}

.i {
    width: initial;
    margin: initial;
    padding:initial;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}


.team {
    background-color:aliceblue;
    display:grid;
    align-items: center;
    text-align: left;
    margin:0px;
    padding: 10px;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    display: grid;
    position:inherit;
    width: 99%;
    grid-template-columns: repeat(6,minmax(20px,1fr));
    margin-right: 1000px;
}

.partners {
    margin: 5px;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    padding: 10px;
    background-color: #000000;
}

#partnerslogo {
    text-align:center; 
    margin: 20px;
    padding: 50px;
    align-items: stretch;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    display: grid;   
    fill:#00FF00;
    border: 5px solid #101010;
}
.i {
    background-color: #000000;
    width: 100%;
}

