#description{
    font-size: 30px;
    color:#21CF31;
}


body{
    font-style: normal;
    background-image:linear-gradient(to right,#B5BE27,pink) url("pics/eco-frens.jpeg"); 
    height: 100%;
}

.pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 50%;
    margin-top: -5%;    
}
img {
    width: 100%;
}

.navbar {
    list-style-type: none;
    display: flex;
    padding: 35px;
    padding-top: 40px;
    margin-left: -40px;
    justify-content: space-between;
    background-color: rgb(158, 157, 168);
    box-shadow: 2px 3px 5px hsl(219, 61%, 76%);
}

#logo {
    display:block;
    font-size:60px;
    text-align:center;
    margin:4rem;
}
#nfts {
width: 50%;
margin-left: 25%;
margin-top: -80%;
}

#roadmap {
    width: 20%;
    position: relative;
    margin-left: 40%;
    margin-top: -20%

}

.faq {
    background-color: #f8ff9a;
    position:inherit;
    width: 100%;
    padding-left: 30%;
    padding-right: 8px;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 20px;
}

.i {
    width: initial;
    margin: initial;
    padding:initial;
}
